body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

pre, input, button {
    margin-top: 10px;
}

#messages {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    min-height: 200px;
    overflow-y: auto;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
}
